<div class="plane_seat_grid">
  


    <p><%= @airplane.row %><p>
    <p><%= @airplane.column %><p>
</div>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
