<div id="main">
  App will go here
</div>

<script id="appViewTemplate" type="html/template">
    <hr>
  <h1>App backbone below here</h1>
  <div id="container">
  </div>
</script>

<script id="searchViewTemplate" type="html/template">
    <h1>Search Views Backbone</h1>
    <div id="searchInput">
    </div>
    <ul id="searchResults">
    </ul>
</script>

<script id="SearchInputViewTemplate" type="html/template">
    <label>From</label>
    <input id="origin" type="text"/>
    <label>To</label>
    <input id="destination" type="text"/>
    <button>Submit</button>
</script>

<script id="FlightViewTemplate" type="html/template">
    <div id="flightDetails">
    </div>
    <div id="flightSeats">
    </div>
</script>
