<!DOCTYPE html>
<html>
<head>
  <title>BurningScaff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="main">
  App will go here
</div>

<script id="appViewTemplate" type="html/template">
  <h1>App backbone below here</h1>
  <div id="container">
  </div>
</script>

<script id="searchViewTemplate" type="html/template">
    <h1>Search View Backbone</h1>
    <div id="searchInput">
    </div>
    <ul id="searchResults">
    </ul>
</script>







<script id="airplaneInputViewTemplate" type="html/template">
    <label>Plane Model</label>
    <input type="text"/>
    <label>Row</label>
    <input type="text"/>
    <label>Column</label>
    <input type="text"/>
    <button>Submit</button>
</script>

</body>
</html>
